@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--animation-time: 360s;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #1e293b;
}

.background-animate {
	background-size: 300%;

	-webkit-animation: animateBackground var(--animation-time) ease alternate infinite;
	-moz-animation: animateBackground var(--animation-time) ease alternate infinite;
	animation: animateBackground var(--animation-time) ease alternate infinite;

	background-image: linear-gradient(
		45deg,
		#2563eb 0%,
		#10b981 46%,
		#2563eb 62%,
		#1e293b 100%
	);
}

@keyframes animateBackground {
	0%, 100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}


/* Markdown Styles */
.markdown-body {
	font-size: 1rem;
	line-height: 1.6;
	color: #e2e8f0;
}

.markdown-body a {
	color: #60a5fa;
	text-decoration: underline;
}

.markdown-body ul {
	list-style-type: disc;
}

.markdown-body ol {
	list-style-type: decimal;
}

.markdown-body svg {
	filter: invert(1);
}