name: Deploy

on:
  workflow_run:
    workflows: ["Deno with MongoDB Test Database"]
    branches: [main]
    types: 
      - completed

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build step
        env: 
          BASE_URI: ${{ secrets.BASE_URI }}
        run: "deno task build"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        env: 
          BASE_URI: ${{ secrets.BASE_URI }}
        with:
          project: "vailnote"
          entrypoint: "main.ts"
          root: "."
          
          
